.messaging {
    width: 300px;
}

.messaging__title {
	/*общие стили*/
	margin-top: 0;
	margin-bottom: 10%;
	font-family: 'Lato', sans-serif;
	font-size: 21px;
	line-height: 42px;
	color: #4f4f4f;
	font-weight: 900;
	text-align: center;
	text-transform: uppercase;
}

.messaging__header {
	color: #fff;
    font-family: 'Lato', sans-serif;
    text-align: center;
	background: #4eb7a8;
}

.messaging__name-user {
    font-weight: 100;
    font-size: 28px;
    margin-top: 0;
    padding-top: 20px;
}

.messaging__inner {
	position: relative;
    height: 43px;
    background: #46ab9d;
}

.messaging__userpic {
	position: absolute;
    top: -8px;
    left: 0;
    right: 0;
    margin: auto;
    border-radius: 50%;
    border: 4px solid #e5e5e5;
}

.messaging__icons {
	position: relative;
}

.messaging__main {
	background: #f2f2f2;
	padding-bottom: 25px;
}

.messaging__icon {
	font-size: 0;

	&::before {
		content: "";
		position: absolute;
		width: 40px;
	    height: 20px;
		background: red;
	}
}

.messaging__icon--chat {
	&::before {
		content: "";
		top: 20px;
		left: 20px;
		background: url('../images/chat.png') no-repeat;
	}
}

.messaging__icon--camera {
	&::before {
		content: "";
		top: 20px;
		right: 15px;
		background: url('../images/camera.png') no-repeat;
	}
}

.message-bubble {
	position: relative;
	font-family: 'Lato', sans-serif;
	color: #868686;
    background: #fff;
    margin: auto;
    margin-top: 50px;
    width: 230px;
    padding: 15px;
    border-radius: 5px;

    &::before {
		content: "";
	    position: absolute;
	    top: -33px;
	    left: 110px;
	    border: 20px solid transparent;
	    border-bottom-color: #fff;		
	}
}

.reply-box {
	font-family: 'Lato', sans-serif;
    font-weight: 700;
    font-size: 14px;
    color: #777;
    width: 225px;
    padding: 15px;
    margin: 20px auto auto;
    background: #e5e5e5;
    border: 4px solid #fff;
    border-radius: 5px;
}

.messaging__button {
	border: none;
    background: #4eb7a8;
    margin: auto;
    display: block;
    width: 260px;
    font-family: Lato, sans-serif;
    font-weight: 600;
    color: #fff;
    text-transform: uppercase;
    font-size: 14px;
    padding: 8px;
    margin-top: 20px;
    border-bottom: 3px solid #28a290;
    border-radius: 3px;
}

.wrapper-calendar-messaging {
	display: flex;
	width: 70%;
	justify-content: space-around;
	margin: auto;
}