doctype html
html(lang="ru-RU")
	head
		link(href="https://fonts.googleapis.com/css?family=Lato:300,400,900|Source+Sans+Pro" rel="stylesheet")
		script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js")
		
	body
		div(id="fullpage")
			div.section.section--one.active
				include components/section-one/standart-buttons
				include components/section-one/arrow-buttons
