doctype html
html(lang="ru-RU")
	head
		link(href="https://fonts.googleapis.com/css?family=Lato:300,400,900|Source+Sans+Pro" rel="stylesheet")
		script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js")
		script(src="https://api-maps.yandex.ru/2.1/?apikey=<ваш API-ключ>&lang=ru_RU")
	body
		div(id="fullpage")
			div.section.active
				include components/section-one/standart-buttons
				include components/section-one/arrow-buttons
			div.section.section--two
				h1.pie-wrapper__title percentages/pie chart
				section.pie-wrapper
					include components/section-two/percentages
					include components/section-two/pie-chart
			div.section
				include components/section-three/sliders
				include components/section-three/stages
			div.section
				include components/section-four/form-elements
			div.section
				div.section__inner
					include components/section-five/search
					include components/section-five/user-profile
			div.section
				include components/section-six/news
			div.section
				include components/section-seven/maps
