@import 'global/normalize.scss';
@import 'global/fonts.scss';
@import 'global/fullpage.scss';
@import 'global/body.scss';
@import 'blocks/section-one/standart-button.scss';
@import 'blocks/section-one/arrow-buttons.scss';
@import 'blocks/section-two/percentages.scss';
@import 'blocks/section-two/pie-chart.scss';
@import 'blocks/section-three/sliders.scss';
@import 'blocks/section-three/stages.scss';
@import 'blocks/section-four/form-elements.scss';
@import 'blocks/section-four/tick-boxes.scss';
@import 'blocks/section-four/toggles.scss';
@import 'blocks/section-five/search.scss';
@import 'blocks/section-five/drop-down.scss';
@import 'blocks/section-five/user-profile.scss';
@import 'blocks/section-six/news-events.scss';
@import 'blocks/section-seven/maps.scss';
@import 'blocks/section-eight/calendar.scss';
@import 'blocks/section-eight/messaging.scss';