.maps__title {
	margin-bottom: 5%;
	font-family: 'Lato', sans-serif;
	font-size: 21px;
	line-height: 42px;
	color: #4f4f4f;
	font-weight: 900;
	text-align: center;
	text-transform: uppercase;
}

#map {
	position: relative;
	margin: auto;
	margin-bottom: 50px;
}

.map-content {
	display: flex;
	align-items: center;
	position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    z-index: 1;
    background: #e75735;
}

.map-content__text {
    margin-left: 30px;
    color: #fff;
    font-family: Lato,sans-serif;
    font-weight: 100;
    font-size: 39px;
    line-height: 10px;
}

.map-content__adress {
    width: 180px;
    margin-left: 30px;
    color: #fff;
    font-family: Lato,sans-serif;
    font-weight: 600;
    font-size: 16px;
    text-transform: uppercase;
}

.map-content__icon {
    display: block;
    width: 40px;
    height: 40px;
    margin-right: 30px;
}

.map-content__icon--local {
	margin-left: auto;
	background: url('../images/Icon - My Location.png') no-repeat;
	background-position: center;
}

.map-content__icon--pin {
	background: url('../images/Icon - Pin.png') no-repeat;
	background-position: center;
}

.ymaps-2-1-73-zoom,
.ymaps-2-1-73-float-button.ymaps-2-1-73-_hidden-text,
.ymaps-2-1-73-float-button.ymaps-2-1-73-_hidden-icon,
.ymaps-2-1-73-traffic,
.ymaps-2-1-73-listbox__button.ymaps-2-1-73-_visible-arrow.ymaps-2-1-73-_hidden-icon.ymaps-2-1-73-user-selection-none,
.ymaps-2-1-73-search.ymaps-2-1-73-search_layout_normal.ymaps-2-1-73-searchbox__normal-layout,
.ymaps-2-1-73-listbox.ymaps-2-1-73-listbox_opened_no.ymaps-2-1-73-listbox_align_right {
	display: none !important;
}
